<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:group {"tagName":"article","metadata":{"name":"article"},"layout":{"type":"constrained","contentSize":"47rem","wideSize":"47rem"}} -->
<article class="wp-block-group"><!-- wp:post-title /-->

<!-- wp:post-featured-image /-->

<!-- wp:post-content {"fontSize":"medium"} /--></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->