<!-- wp:group {"tagName":"section","className":"staff-container"} -->
<section class="wp-block-group staff-container"><!-- wp:heading {"level":1} -->
    <h1 class="wp-block-heading">Our Staff</h1>
    <!-- /wp:heading -->

    <!-- wp:paragraph {"placeholder":"Enter a short introduction here..."} -->
    <p>Meet our professional team.</p>
    <!-- /wp:paragraph -->

    <!-- wp:query {"queryId":1,"query":{"post_type":"fwd-staff","perPage":-1},"className":"staff-list"} -->
    <div class="wp-block-query staff-list"><!-- wp:post-template -->
        <!-- wp:post-title /-->

        <!-- wp:post-excerpt /-->
        <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
</section>
<!-- /wp:group -->